@import '../../common'

  .home
    background-color $darkBgColor
    height 50rem
    padding 3rem
    
  ol.steps-to-evaluate
    li
      font-size 1rem
      padding 0.5rem 

  *
    color $lightTextColor
