<navbar links="[{url:'home',text:'Home page'},{url:'users',text:'Users page'}]"></navbar>
<section class="home">
  <h1>Welcome to your test, please read carefully each step, and start coding!!!</h1>
  <ol class="steps-to-evaluate">
  	<li>Remember: ident your code using a tab to 2 spaces</li>
  	<li>Create an `users` component, use this prototype http://prntscr.com/cwr4zu( use it as a guide, your styling dont have to be exact as the prototype, but show us your css skills!! )</li>
  	<li>Enable the link to go to users page</li>
  	<li>
  		For users section: Create a `table` component (Use basic styling for table, data should be center )
  		<ol>
  			<li>Add a create button above the table(use the attached icon for adding )</li>
  			<li>Add an icon for editing(use the attached one)</li>
  			<li>The table will has the following Columns: Name,Last name,Telephone,Address,Edit</li>
  			<li>Set up fake data( 3 users ) within the controller and list each record within the table</li>
  			<li>Show up a form(to create a new user), once the user clicks the new user's button( should be below the create button and above the table ), the record should be added to the table once the user clicks on save button( within the new user form ) </li>
  			<li>Show up a form( to edit an existing user), once the user clicks the edit's icon ( the icon inside the table for each record, icon path: 'app/images/edit_icon.png' ), the record should be modified on the table once the user clicks on save button( within edit form )</li>
  		</ol> 
  	</li>
  </ol>
</section>